# OS
.DS_Store

# IDEs
.vscode
.idea

# Build
build
/ev-provision/
dist
docs/.vuepress/dist

# Testing
coverage.txt
profile.out
cpuprofile.out
memprofile.out
simapp.test

# Graphviz
dependency-graph.png
